h1{
    color: rgb(126, 87, 8);
  
}
.nav{
    color: blue;
}

.main{
 
 font-size:medium:
}
.wp{
    color:  rgb(188, 119, 7);
    font-size: x-large;
}
.exp{
    color: rgb(63, 52, 179);
    font-style: italic;
}
.section{
    font-size: x-large;
    color: rgb(188, 119, 7);
}
#sec1{
    color: rgb(151, 136, 136);
}
#sec2{
    color: rgb(175, 153, 148);
}
#r1{
    color: rgb(158, 113, 113);
}
aside{
    color:black;
    background-color: lightgray;
}
ul{
    color: rgb(8, 8, 8);
}
#d1{
    color: rgb(13, 10, 208);
    font-size: x-large;
}
#clk{
    color: rgb(4, 75, 75);
    font-size: large;
}
#web{
    color: rgb(87, 25, 25);
}
.summary{
    color: blue;
    font-size: larger;
}
.list{
    color: gold;
}
